<h1 class="text-center">
How it works
</h1>

<h3>1) Post a design brief</h3>
<h3>We'll provide helpful questions to make sure you get the right design.</h3>
Put screenshot of filled contest form here: <img src="#">

<h3>2) Set a price</h3>
Put screenshot of filled bitcoin offer here: <img src="#">

<h3>3) Offer helpful feedback</h3>
Put screenshot of example feedback here: <img src="#">


<h3>4) After one week, choose a design!</h3>
Put screenshot of checkmarked design here: <img src="#">