<div class="jumbotron">
  <div class="client-jumbotron">
    <h1>Need a design?</h1>
    <p>At Crypdesigns, designers from all over the world compete to create the perfect design to suit your needs! </p>
    <a href="/request-design"><button class="btn btn-default">Request a design!</button></a>
  </div>

  <div class="designer-jumbotron">
    <h1>Need Bitcoin?</h1>
    <p>Compete with other designers to earn Bitcoin and gain potential clients. May the best design win!</p>
    <a href="/categories"><button class="btn btn-default">Find a contest!</button></a>
  </div>
</div>

<h2 class="text-center">
How it works
</h2>

<h3>1) Post a design brief</h3>
<h3>We'll provide helpful questions to make sure you get the right design.</h3>
Put screenshot of filled contest form here: <img src="#">

<h3>2) Set a price</h3>
Put screenshot of filled bitcoin offer here: <img src="#">

<h3>3) Offer helpful feedback</h3>
Put screenshot of example feedback here: <img src="#">


<h3>4) After one week, choose a design!</h3>
Put screenshot of checkmarked design here: <img src="#">


<div class="row">
  <h2 class="text-center">
    Featured designs
  </h2>
  <br>
  
  <div class="col-md-3">
    <img src="/images/1.jpg">
  </div>
  <div class="col-md-3">
    <img src="/images/2.jpg">
  </div>
  <div class="col-md-3">
    <img src="/images/3.png">
  </div>
  <div class="col-md-3">
    <img src="/images/4.jpg">
  </div>
</div>

<div class="row">
  <h2 class="text-center">
    Testimonials
  </h2>
  <br>
  <img src="/images/testimonial.png" class="center-block">
</div>

<div class="row">
  <h2 class="text-center">
    Why Bitcoin?
  </h2>
  <br>
  <div class="col-md-6 col-md-offset-3">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#fast">Fast</a></li>
      <li><a data-toggle="tab" href="#cheap">Cheap</a></li>
      <li><a data-toggle="tab" href="#deflationary">Deflationary</a></li>
      <li><a data-toggle="tab" href="#global">Global</a></li>
    </ul>

    <div class="tab-content">
      <div id="fast" class="tab-pane fade in active">
        <h3>FAST</h3>
        <h4>Transactions happen instantaneously, and then take around 10 minutes to be confirmed by the blockchain. This is far faster than other forms of payment, like a wire transfer or an automated clearing house transfer.</h4>
        <h4>99designs, for example, allows designers to withdraw their funds using services like Payoneer and PayPal. These sites have a 24-48 hour turnaround at best, and payments are processed on business days only.</h4>
      </div>
      <div id="cheap" class="tab-pane fade">
        <h3>CHEAP</h3>
        <h4>Bitcoin transaction fees are far cheaper than those of traditional forms of payment.</h4>
        <h4>For the average user, a credit card fee will end up costing 3.15% + $0.22 per transaction.</h4>
        <h4>As a comparison, it currently costs roughly $0.04 to broadcast a transaction on the Bitcoin network.</h4>
      </div>
      <div id="deflationary" class="tab-pane fade">
        <h3>DEFLATIONARY</h3>
        <h4>The total number of bitcoins are capped at 21 million. Unlike fiat currencies like the U.S. dollar, the value of a bitcoin isn't subject to the inflationary whims of a central bank.</h4>
      </div>
      <div id="global" class="tab-pane fade">
        <h3>Global</h3>
        <h4>Bitcoin users do not need bank accounts, allowing members of the network to transact with the ~2 billion adults who lack basic financial services. As smartphone ownership in developing nations explodes, bitcoin is a cheaper alternative to traditional transfer companies like Western Union.</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="text-center">
    Questions?
  </h2>
  <br>
  <h4 class="text-center">Just email us at<a href="mailto:support@crypdesigns.com?Subject=Hi%20I%20Need%20Help" target="_top">
support@crypdesigns.com</a> <br>and we'll be happy to help!</h3>
</div>
