  <div class="row">
    <div class="col-md-12">
      <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <!-- Overlay -->
      <div class="overlay"></div>

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
                <h1>Welcome to Crypdesigns</h1>        
                <h3>Where designers compete for Bitcoin</h3>
                <button class="btn btn-hero btn-lg" role="button">Get Started</button>
            </hgroup>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">        
            <hgroup>
                <h1>For Businesses</h1>        
                <h3>Purchase logos, business cards, book covers and more</h3>
            </hgroup>       
            <button class="btn btn-hero btn-lg" role="button">Post a contest</button>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">        
            <hgroup>
                <h1>For Designers</h1>        
                <h3>Earn Bitcoin doing what you love</h3>
            </hgroup>
            <button class="btn btn-hero btn-lg" role="button">Post a design</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row gradient-row">
    <div class="col-md-4">
      <div class="how-it-works-div home-page-box">
        <h2 class="text-center">How It Works</h2>
        <div class="pretty-list" style="margin-left: 10%">
          <ol>
            <li><p><em>Post a design brief</em> We'll provide helpful questions to clarify your needs for designers, to ensure that you get the ideal design for your business.</p></li>
            <li><p><em>Set a price</em> At Crypdesigns, your Bitcoin gets stored in an escrow wallet, and when you choose a design after the contest ends, the funds will automatically transfer to the winner.</p></li>
            <li><p><em>Offer helpful feedback</em> To help guide your designers, be sure to provide feedback on their first submissions, so they can make the necessary changes to best suit your needs.</p></li>
            <li><p><em>After one week, choose a design!</em> If you like a design, the artist will automatically get paid, and you'll get all the rights to the design.</p></li>
          </ol>
        </div>
      </div>
    </div> {{!--/col-md-6--}}

    <div class="col-md-8">
      <div class="why-crypdesigns-div home-page-box">
        <h2 class="text-center">Why Crypdesigns?</h2>
        <div class="pretty-list" id="list2" style="margin-left: 10%">
          <ol>
            <li><p><em>FAST</em> Bitcoin transactions happen instantaneously, and then take around 10 minutes to be confirmed by the blockchain. This is far faster than other forms of payment, like a wire transfer or an automated clearing house transfer.<br>99designs, for example, allows designers to withdraw their funds using services like Payoneer and PayPal. These sites have a 24-48 hour turnaround at best, and payments are processed on business days only.</p></li>
            <li><p><em>CHEAP</em> Bitcoin transaction fees are far cheaper than those of traditional forms of payment.<br>It currently costs roughly $0.04 to broadcast a transaction on the Bitcoin network.<br>With the minimal transaction costs, you save money as a business, and make more money as a designer, leading overall to a more positive transaction.</p></li>
            <li><p><em>DEFLATIONARY</em> The total number of bitcoins are capped at 21 million. Unlike fiat currencies like the U.S. dollar, the value of a bitcoin isn't subject to the inflationary whims of a central bank.</p></li>
            <li><p><em>GLOBAL</em> Bitcoin users do not need bank accounts, allowing members of the network to transact with the ~2 billion adults who lack basic financial services. As smartphone ownership in developing nations explodes, bitcoin is a cheaper alternative to traditional transfer companies like Western Union.</p></li>
          </ol>
        </div>
      </div>
    </div>{{!--/col-md-6--}}
  </div> {{!--/div class="row"--}}

  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Testimonials</h2>
      <img src="/images/testimonial.png" class="center-block">

      <h2 class="text-center">Questions?</h2>

      <h4 class="text-center">Just email us at<a href="mailto:support@crypdesigns.com?Subject=Hi%20I%20Need%20Help" target="_top">
    support@crypdesigns.com</a> <br>and we'll be happy to help!</h4>
    </div>{{!--/div class="row"--}}
  </div>{{!--/col-md-6--}}