<h1 class="text-center">Log In</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form method="post" action="/users/login">
      {{!-- Username or Email--}}
      <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
      </div>
      {{!-- Password --}}
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
      </div>
      <button type="submit" class="btn btn-success">Log In</button>
    </form>
    <span>Don't have an account with us yet? <a href="register">Sign up!</a></span>
  </div>
</div>
