<h1 class="text-center">Sign In</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form>
      {{!-- Username or Email--}}
      <div class="form-group">
        <label for="usernameOrEmail">Username or Email</label>
        <input type="text" class="form-control" id="usernameOrEmail" placeholder="Username or Email">
      </div>
      {{!-- Password --}}
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success">Log In</button>
    </form>
    <span>Don't have an account with us yet? <a href="/sign-up">Sign up!</a></span>
  </div>
</div>
