<h1 class="text-center">Request a Design</h1>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form>
      <div class="form-group">
        <h4>What is the name you'd like in your design?</h4>
        <input type="text" class="form-control" id="companyName" placeholder="Bulletproof Coffee">
      </div>
      <div class="form-group">
        <h4>Is there a slogan you would like to be used in the design?</h4>
        <input type="text" class="form-control" id="slogan" placeholder="Coffee for mission critical performance">
      </div>
      <div class="form-group">
        <h4>Tell us about your target audience.</h4>
        <input type="text" class="form-control" id="audience" placeholder="Health-conscious, paleo startup execs who blog about their 'morning routine'">
      </div>
      <div class="form-group">
        <h4>What industry are you in?</h4>
        <input type="text" class="form-control" id="industry" placeholder="Health/nutrition and Coffee">
      </div>
      <div class="form-group">
        <h4>What colors should be used in your design?</h4>
        <input type="text" class="form-control" id="colors" placeholder="Black, white and orange">
      </div>
      <br>
      <h4>Tell us more about your brand's style:</h4>
      <br>
      <label for="classicModern">Classic</label>
      <label for="classicModern" style="float: right">Modern</label>
      <input id="classicModern" type="range" min="0" max="50" value="25" step="5" />


      <label for="matureYouthful">Mature</label>
      <label for="matureYouthful" style="float: right">Youthful</label>
      <input id="matureYouthful" type="range" min="0" max="50" value="25" step="5" />

      <label for="feminineMasculine">Feminine</label>
      <label for="feminineMasculine" style="float: right">Masculine</label>
      <input id="feminineMasculine" type="range" min="0" max="50" value="25" step="5" />

      <label for="playfulSophisticated">Playful</label>
      <label for="playfulSophisticated" style="float: right">Sophisticated</label>
      <input id="playfulSophisticated" type="range" min="0" max="50" value="25" step="5" />

      <label for="economicalLuxurious">Economical</label>
      <label for="economicalLuxurious" style="float: right">Luxurious</label>
      <input id="economicalLuxurious" type="range" min="0" max="50" value="25" step="5" />

      <label for="geometricOrganic">Geometric</label>
      <label for="geometricOrganic" style="float: right">Organic</label>
      <input id="geometricOrganic" type="range" min="0" max="50" value="25" step="5" />

      <br>
      <h4>Please upload some designs you like for our artists to draw inspiration from:</h4>
      <br>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>

      <br>
      <h4>Please upload any helpful images or sketches:</h4>
      <br>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>

       <p>
          <h4>Any other information you'd like our designers to have?</h4>
          <textarea id = "myTextArea" rows = "3" cols = "80"></textarea>
        </p>

        <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>