.jumbotron {
  height: 30em;
}

.client-jumbotron {
  float: left;
  width: 50%;
  padding-right: 10%;
  border-right: 1px black solid;
}

.designer-jumbotron {
  float: right;
  width: 50%;
  padding-left: 10%;
}

#categoryList li {
  font-size: 2em;
  margin: .7em;
}

#categoryList li a:hover {
  color: orange;
}

#subsList li a:hover {
  color: orange;
}

#subsList li {
  font-size: 1.5em;
  margin: .7em;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.hide {
  display: none;
}

.how-it-works {
  background-color: orange;
  line-height: 1;
  letter-spacing: -1px;
}

.bitcoin-div {
  background-color: black;
  color: #5b687d;
  padding: 1em;
}

.bitcoin-tabber {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.bitcoin-div h2, 
.bitcoin-div h3, 
.bitcoin-div a {
  color: white;
}
