/*Sticky Footer*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#wrapper {
   min-height:100%;
   position:relative;
}

#body {
   padding-bottom:130px; /* Height of the footer */
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:130px; /* Height of the footer */
}




.jumbotron {
  height: 30em;
}

.client-jumbotron {
  float: left;
  width: 50%;
  padding-right: 10%;
  border-right: 1px black solid;
}

.designer-jumbotron {
  float: right;
  width: 50%;
  padding-left: 10%;
}

/*Categories*/

#categoryList {
  padding-left: 0;
}

#categoryList li {
  font-size: 2em;
  margin: .7em;
}

#categoryList li a:hover {
  color: #FCA311;
}

/*Subcategories*/
#subsList li {
  font-size: 1.5em;
  margin: 1em;
  padding-top: 1em;
}

#subsList li:last-child {
  padding-bottom: 2em;
}

#subsList li a {
  color: black;
}

#subsList li a:hover {
  color: #FCA311;
}

#categoryList li a {
  color: black;
}

#categoryList li img {
  margin: 1em 1em 1em;
}

.navbar {
  border-radius: 0;
}

.navbar-dark {
  background-color: #14213D;
  margin-bottom: 0 !important;
}

.navbar-dark a {
  color: #FCA311;
}

.hide {
  display: none;
}

.how-it-works {
  background-color: orange;
  line-height: 1;
  letter-spacing: -1px;
}

.bitcoin-tabber {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.bargraph {
  list-style: none;
  padding-top: 20px;
  width:560px;
}

ul.bargraph li {
  height: 35px;
  color: white;
  text-align: left;
  font-style: italic;
  font-weight:bolder;
  font-size: 14px;
  line-height: 35px;
  padding: 0px 20px;
  margin-bottom: 5px;
}

ul.bargraph li.classicModern {
background: #ED1C24;
}

ul.bargraph li.matureYouthful {
background: #F99C1C;
}

ul.bargraph li.feminineMasculine {
background: #F4D41E;
}

ul.bargraph li.playfulSophisticated {
background: #97B546;
}

ul.bargraph li.economicalLuxurious {
background: #42BDA5;
}

ul.bargraph li.geometricOrganic {
background: #00AEEF;
}

ul.bargraph li.xaxis {
background: url(../images/x-axis.jpg);
}

/*tabs*/
#tabs_wrapper {
    width: 422px;
}
#tabs_container {
    border-bottom: 1px solid #ccc;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
}
#tabs li {
    display: inline;
}
#tabs li a {
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}
#tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
 
#tabs li a.icon_accept {
    background-image: url(accept.png);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
#tabs li a.icon_accept:hover {
    padding-left: 24px;
}
 
#tabs_content_container {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    width: 400px;
}
.tab_content {
    display: none;
}

/*Footer*/
footer {
  color: #fff;
  background-color: black;
}

.footer span {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.footer span:first-child {
  margin-right: 4em;
}

.footer a {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 20px;
  display: inline-block;
  color: #FCA311
}

/* Pretty List */

.pretty-list ol {
  font-style: italic;
  font-family: Georgia, Times, serif;
  font-size: 24px;
  color: #bfe1f1;
}

.pretty-list ol li p {
  padding:8px;
  font-style:normal;
  font-family:Arial;
  font-size:13px;
  color:#eee;
  border-left: 1px solid #999;
}

.pretty-list ol li p em {
  display: block;
  font-size: 3em;
}

/*List 2*/
#list2 {
  color: black;
}
#list2 ol li p {
  color: #fff;
}

/*bitcoin div*/
.why-crypdesigns-div {
  background: black;
}

.home-page-box {
  margin-top: 3em;
  background-color: black;
}

.home-page-box h2 {
  padding-top: 2em;
  padding-left: 2em;
  color: white;
}

/*How it works div*/
.how-it-works-div {
  background: black;
}